body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(59, 130, 246, 1);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #ccc;
}